.text-center{
    text-align: center;
    border: 20px ;
    border-style: solid rgb(209, 51, 51) 2px;
}
.bg-grey{
    background:rgba(42, 226, 208, 0.834);
    background-color:cornflowerblue;
    height: 90% ;
    width: 100%;
}
.max-auto{
    margin: auto;
}
.flex{
  display: flex;
}
.flex-col{
 flex-direction: column;
}
.item-center{
    align-items: center;
    justify-content:center;
}
.container{
    border:2px solid black;
}